<div class="login-box mx-auto center">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <b>Gestão</b> Alunos
    </div>
    <div class="card-body">
      <form [formGroup]="formulario">
        <div class="input-group mb-3">
          <input type="email" formControlName="login" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" formControlName="senha" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary btn-block" (click)="realizarLogin()">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>