<app-card [titulo]="'Formulários Reativos'">
  <form [formGroup]="formulario">
    <div class="form-group">

      <label>Nome: {{ nome.value }}</label>
      <input type="text" class="form-control" formControlName="nome">

      <label>Email: {{ email.value }}</label>
      <input type="text" class="form-control" formControlName="email">

      <label>Nota: {{ nota.value }}</label>
      <input type="text" class="form-control" formControlName="nota">

      <app-button (click)="submit()"> Enviar</app-button>

    </div>
  </form>
</app-card>
